<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>160</key>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>Code</key>
		<integer>160</integer>
		<key>Description</key>
		<string>上线前放弃</string>
		<key>NextStatus</key>
		<array>
			<string>1200</string>
			<string>1000</string>
			<string>100</string>
		</array>
	</dict>
	<key>1000</key>
	<dict>
		<key>Type</key>
		<integer>1</integer>
		<key>Code</key>
		<real>1000</real>
		<key>Description</key>
		<string>项目库</string>
		<key>NextStatus</key>
		<array>
			<string>1200</string>
			<string>150</string>
			<string>100</string>
		</array>
	</dict>
	<key>1200</key>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>Code</key>
		<real>1200</real>
		<key>Description</key>
		<string>已认领</string>
		<key>NextStatus</key>
		<array>
			<string>1000</string>
			<string>2000</string>
			<string>2400</string>
			<string>100</string>
		</array>
	</dict>
	<key>1400</key>
	<dict>
		<key>Type</key>
		<integer>3</integer>
		<key>Code</key>
		<real>1400</real>
		<key>Description</key>
		<string>暂缓推进</string>
		<key>NextStatus</key>
		<array>
			<string>1200</string>
			<string>4000</string>
			<string>5000</string>
			<string>1000</string>
			<string>6000</string>
			<string>140</string>
			<string>130</string>
		</array>
	</dict>
	<key>2000</key>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>Code</key>
		<real>2000</real>
		<key>Description</key>
		<string>待讨论</string>
		<key>NextStatus</key>
		<array>
			<string>2200</string>
			<string>110</string>
		</array>
	</dict>
	<key>2200</key>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>Code</key>
		<real>2200</real>
		<key>Description</key>
		<string>编辑中</string>
		<key>NextStatus</key>
		<array>
			<string>2400</string>
			<string>160</string>
		</array>
	</dict>
	<key>2400</key>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>Code</key>
		<real>2400</real>
		<key>Description</key>
		<string>审核中</string>
		<key>NextStatus</key>
		<array>
			<string>2600</string>
			<string>3000</string>
		</array>
	</dict>
	<key>2600</key>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>Code</key>
		<real>2600</real>
		<key>Description</key>
		<string>修改中</string>
		<key>NextStatus</key>
		<array>
			<string>2400</string>
			<string>160</string>
		</array>
	</dict>
	<key>3000</key>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>Code</key>
		<real>3000</real>
		<key>Description</key>
		<string>待测试</string>
		<key>NextStatus</key>
		<array>
			<string>4000</string>
			<string>160</string>
		</array>
	</dict>
	<key>4000</key>
	<dict>
		<key>Type</key>
		<integer>3</integer>
		<key>Code</key>
		<real>4000</real>
		<key>Description</key>
		<string>测试中</string>
		<key>NextStatus</key>
		<array>
			<string>2600</string>
			<string>3000</string>
			<string>5000</string>
			<string>6000</string>
			<string>120</string>
			<string>130</string>
			<string>140</string>
			<string>1400</string>
		</array>
	</dict>
	<key>5000</key>
	<dict>
		<key>Type</key>
		<integer>3</integer>
		<key>Code</key>
		<real>5000</real>
		<key>Description</key>
		<string>推广中</string>
		<key>NextStatus</key>
		<array>
			<string>2600</string>
			<string>6000</string>
			<string>1400</string>
			<string>4000</string>
			<string>130</string>
			<string>140</string>
		</array>
	</dict>
	<key>6000</key>
	<dict>
		<key>Type</key>
		<integer>3</integer>
		<key>Code</key>
		<real>6000</real>
		<key>Description</key>
		<string>交割中</string>
		<key>NextStatus</key>
		<array>
			<string>4000</string>
			<string>7000</string>
		</array>
	</dict>
	<key>7000</key>
	<dict>
		<key>Type</key>
		<integer>0</integer>
		<key>Code</key>
		<real>7000</real>
		<key>Description</key>
		<string>完成融资</string>
		<key>NextStatus</key>
		<array/>
	</dict>
	<key>100</key>
	<dict>
		<key>Type</key>
		<integer>0</integer>
		<key>Code</key>
		<integer>100</integer>
		<key>Description</key>
		<string>垃圾</string>
		<key>NextStatus</key>
		<array>
			<string>1200</string>
		</array>
	</dict>
	<key>110</key>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>Code</key>
		<integer>110</integer>
		<key>Description</key>
		<string>讨论未通过</string>
		<key>NextStatus</key>
		<array>
			<string>1200</string>
			<string>1000</string>
		</array>
	</dict>
	<key>120</key>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>Code</key>
		<integer>120</integer>
		<key>Description</key>
		<string>测试未通过</string>
		<key>NextStatus</key>
		<array>
			<string>1200</string>
			<string>1000</string>
		</array>
	</dict>
	<key>130</key>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>Code</key>
		<integer>130</integer>
		<key>Description</key>
		<string>没搞成</string>
		<key>NextStatus</key>
		<array>
			<string>1200</string>
			<string>1000</string>
		</array>
	</dict>
	<key>140</key>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>Code</key>
		<integer>140</integer>
		<key>Description</key>
		<string>融资失败</string>
		<key>NextStatus</key>
		<array>
			<string>1200</string>
			<string>1000</string>
		</array>
	</dict>
	<key>150</key>
	<dict>
		<key>Type</key>
		<integer>1</integer>
		<key>Code</key>
		<integer>150</integer>
		<key>Description</key>
		<string>无人认领</string>
		<key>NextStatus</key>
		<array>
			<string>1200</string>
			<string>100</string>
		</array>
	</dict>
</dict>
</plist>
